<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title> RENT -{{ title }}</title>
        {% else %}
        <title> lit REnTMs </title>
        {% endif %}
    </head>
</head>

<body>
    <nav>
        <ul class="topnav" id="dropdownclick">
            <li><a href="{{ url_for('main.Home')}}">home</a></li>
            <li><a href="{{ url_for('main.rent')}}">Manage</a></li>
           
            <li><a href="{{ url_for('main.about')}}">about</a></li>
            {% if current_user.is_authenticated %}
            <li class="topnav-right"><a href="{{ url_for('posts.new_post')}}" onclick="">new post</a></li>
            <li class="topnav-right"><a href="{{ url_for('main.users')}}" onclick="">users</a></li>
            <li class="topnav-right"><a href="{{ url_for('users.account')}}" onclick="">Account</a></li>
            <li class="topnav-right"><a href="{{ url_for('users.logout')}}" onclick="">logout</a></li>
            {% else %}
            <li class="topnav-right"><a href="{{ url_for('users.register')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="topnav-right"><a href="{{ url_for('users.login')}}" onclick=""><span class="glyphicon glyphicon-log-in"></span>login</a></li>
           
     
            {% endif %}
            <li class="dropdownicon"><a href="javascript:void(0)" onclick="dropdownmenu()">&#9776;</a></li>
        </ul>
    </nav>
    <main role="main" class="container">
        <div class="row">
            <div class="col-2">
                {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>
        </div>
        {% block content %}
        {% endblock %}

    </main>
    <div class="container" id="sec1-gradient">
        <div class="row">
            <div class="col-5">
                <h1 class="larger">litmus</h1>
                <h1 class="larger">made by developers for developers</h1>
            </div>
            <div class="col-5">
                <form>
                </form>
            </div>

        </div>
    </div>
    <div class="row" id="sec1-gradient">
        <div class="col-1 leftside-col">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, ex dicta. Rerum, recusandae temporibus! Non
            cupiditate ratione nostrum quisquam voluptas beatae molestiae totam illo ea. Sapiente aliquid animi ipsa
            quam.

        </div>
        <div class="col-7 rightside-col">
            <div>
                <iframe width="560" height="315" src="http://127.0.0.1:5000//rent/new"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>

        </div>
    </div>
    <header>
        <h1 class="sec2header"> Destiny , place for awesomeness</h1>
    </header>
    <div class=" Destiny" >
        <div class="row">
            <div class="col-3">
                <div class="box">
                    <div class="icon">
                       <a href="{{ url_for('main.Home') }}"> <img class="roundend-circle  account-img_sm"
                            src="{{ url_for('static', filename='background/kali-prompt-16x9.jpg') }}"></a>

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img class="roundend-circle  account-img_sm"
                            src="{{ url_for('static', filename='background/kali-prompt-16x9.jpg') }}">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>


            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img height="300" width="250"
                            src="{{ url_for('static', filename='background/kali-prompt-16x9.jpg') }}">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img height="300" width="300"
                            src="{{ url_for('static' , filename= 'background/kali-red-sticker-16x9.jpg') }}"
                            alt="sphere">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>

            
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="learnmore">learn more</button>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <article>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod excepturi nulla minus sunt qui
                        ratione temporibus, illo placeat deserunt dolorem quibusdam quae nostrum aperiam eius ab veniam
                        quas rerum repellendus.</p>
                </article>
            </div>
            <div class="col-4">
                <div class="slopeicon">
                    <img height="300px" width="500px"
                        src="{{ url_for('static' , filename= 'background/kali-red-sticker-16x9.jpg') }}">
                </div>
            </div>
        </div>
    </div>
    <h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates illum similique itaque laudantium tenetur
        modi assumenda ipsam nisi tempora odit error eligendi eum incidunt, magnam quidem saepe! Tenetur, porro magnam!
    </h3>





    <footer class="footsy">
        <div class="row">
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
        </div>
    </footer>
    <script>
        function dropdownmenu() {
            var dropdown = document.getElementById('dropdownclick');
            if (dropdown.className === "topnav") {
                dropdown.className += "reponsive";/*changes topnav to topnav.responsive***/

            }
            else {
                dropdown.className = "topnav";
            }


        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title> RENT -{{ title }}</title>
        {% else %}
        <title> lit REnTMs </title>
        {% endif %}
    </head>
</head>

<body>
    <nav>
        <ul class="topnav" id="dropdownclick">
            <li><a href="{{ url_for('main.Home')}}">Home</a></li>
            <li><a href="{{ url_for('main.manage')}}">Manage</a></li>
            <li><a href="{{ url_for('main.about')}}">About</a></li>
            {% if current_user.is_authenticated %}
            <li class="topnav-right"><a href="{{ url_for('posts.new_post')}}" onclick="">new post</a></li>
            <li class="topnav-right"><a href="{{ url_for('main.users')}}" onclick="">users</a></li>
            <li class="topnav-right"><a href="{{ url_for('users.account')}}" onclick="">Account</a></li>
            <li class="topnav-right"><a href="{{ url_for('users.logout')}}" onclick="">logout</a></li>
            {% else %}
            <li class="topnav-right"><a href="{{ url_for('users.register')}}"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="topnav-right"><a href="{{ url_for('users.login')}}" onclick=""><span
                        class="glyphicon glyphicon-log-in"></span>login</a></li>


            {% endif %}
            <li class="dropdownicon"><a href="javascript:void(0)" onclick="dropdownmenu()">&#9776;</a></li>
        </ul>
    </nav>
    <main role="main" class="container">
        <div class="row">
            <div class="col-2">
                {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>
        </div>


    </main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container" id="sec1-gradient">
        <div class="row">
            <div class="col-5">
                <h1 class="larger">litmus</h1>
                <h1 class="larger">rent app</h1>
                <p1>The Rent App is a simple Flask web application that allows users to keep track of their rent
                    payments. It provides basic rent management functionalities and can be easily extended to support
                    more advanced features</p1>
            </div>
            <div class="col-5">
                <form>
                </form>
            </div>

        </div>
    </div>
    <div class="row" id="sec1-gradient">
        <div class="col-3 leftside-col">
            To run the Rent App, follow these steps:<br>

            Clone the repository from GitHub.<br>
            Create a virtual environment and activate it.<br>
            Install the required dependencies using the command pip install -r requirements.txt.<br>
            Set the environment variable FLASK_APP to run.py.<br>
            Initialize the database using the command flask db upgrade.<br>
            Start the server using the command flask run
        </div>
        <div class="col-6 rightside-col">
            <div>
                <iframe width="560" height="315" src="http://127.0.0.1:5000//rent/new" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>

        </div>
    </div>
    <header>
        <h1 class="sec2header"> Destiny , place for awesomeness</h1>
    </header>
    <div class=" Destiny">
        <div class="row">
            <div class="col-3">
                <a href="#">
                    <div class="box  img">
                        <div class="icon">
                            <a href="{{ url_for('main.Home') }}"> <img class="roundend-circle  account-img_sm"
                                    src="{{ url_for('static', filename='background/kali-prompt-16x9.jpg') }}"></a>

                        </div>
                        <label> STAY WITH US</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                            molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus!
                            In
                            delectus assumenda et dolorem!</p>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <div class="box img">
                        <div class="icon">
                            <img class="roundend-circle  account-img_sm"
                                src="{{ url_for('static', filename='background/kali-prompt-16x9.jpg') }}">

                        </div>
                        <label> draw with us</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                            molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus!
                            In
                            delectus assumenda et dolorem!</p>
                    </div>
                </a>
            </div>


            <div class="col-3">
                <a href="#">
                    <div class="box img">
                        <div class="icon ">
                            <img height="250" width="300"
                                src="{{ url_for('static', filename='background/kali-prompt-16x9.jpg') }}">

                        </div>
                        <label> draw with us</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                            molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus!
                            In
                            delectus assumenda et dolorem!</p>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <div class="box img">
                        <div class="icon">
                            <img height="250" width="300"
                                src="{{ url_for('static' , filename= 'background/kali-red-sticker-16x9.jpg') }}"
                                alt="sphere">

                        </div>
                        <label> draw with us</label>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                            molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus!
                            In
                            delectus assumenda et dolorem!</p>
                    </div>
                </a>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="learnmore">learn more</button>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-7 img">
                <article>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod excepturi nulla minus sunt qui
                        ratione temporibus, illo placeat deserunt dolorem quibusdam quae nostrum aperiam eius ab veniam
                        quas rerum repellendus.</p>
                </article>
            </div>
            <div class="col-4">
                <div class="slopeicon">
                    <img src="{{ url_for('static' , filename= 'background/kali-red-sticker-16x9.jpg') }}">
                </div>
            </div>
        </div>
    </div>
    <h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates illum similique itaque laudantium tenetur
        modi assumenda ipsam nisi tempora odit error eligendi eum incidunt, magnam quidem saepe! Tenetur, porro magnam!
    </h3>





    <footer class="footsy">
        <div class="row">
            <div class="col-3">
                <h1>contact us</h1>
                <ul>
                    <a href="#"><li>email </li> </a>
                    <a href="#"><li>contact</li> </a>
                    <a href="#"><li>toll free line</li> </a>
                </ul>
            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <a href="#"><li>about</li> </a>
                    <a href="#"><li>blogs</li> </a>
                    <a href="#"><li>carees</li> </a>
                </ul>
            </div>
            <div class="col-3">
                <h1>reache us </h1>
                <ul>
                    <a href="#"><li>Twitter</li> </a>
                    <a href="#"><li>Facebook</li> </a>
                    <a href="#"><li>Instagram</li> </a>
                </ul>
            </div>
            <div class="col-3">
                <h1>About us</h1>
                <ul>
                    <a href="#"><li>Services</li> </a>
                    <a href="#"><li>History</li> </a>
                    <a href="#"><li>Staff</li> </a>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        function dropdownmenu() {
            var dropdown = document.getElementById('dropdownclick');
            if (dropdown.className === "topnav") {
                dropdown.className += "reponsive";/*changes topnav to topnav.responsive***/

            }
            else {
                dropdown.className = "topnav";
            }


        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
