<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title> flask blog -{{ title }}</title>
        {% else %}
        <title> flask blog </title>
        {% endif %}
    </head>
</head>

<body>
    <nav>
        <ul class="topnav" id="dropdownclick">
            <li><a href="{{ url_for('Home')}}">home</a></li>
            <li><a href="#news">news</a></li>
            <li><a href="{{ url_for('about')}}">about</a></li>
            {% if current_user.is_authenticated  %}
            <li class="topnav-right"><a href="{{ url_for('account')}}" onclick="">Account</a></li>
            <li class="topnav-right"><a href="{{ url_for('logout')}}" onclick="">logout</a></li>
            {% else %}
            <li class="topnav-right"><a href="{{ url_for('register')}}">signup</a></li>
            <li class="topnav-right"><a href="{{ url_for('login')}}" onclick="">login</a></li>
            {%  endif  %}
            <li class="dropdownicon"><a href="javascript:void(0)" onclick="dropdownmenu()">&#9776;</a></li>
        </ul>
    </nav>
    <main role="main" class="container"> 
         <div class="row">
            <div class="col-2">
                {% with messages = get_flashed_messages(with_categories = true) %}
                  {% if messages %}
                   {% for category, message in messages %}
                     <div class="alert alert-{{category}}">
                     {{ message }}
                     </div>
                   {% endfor %}
                  {% endif %}
                {% endwith %}
               
            </div>
        </div>
        {% block content %}
        {% endblock %}
        
    </main>
    <div class="container" id="sec1-gradient">
        <div class="row">
            <div class="col-5">
                <h1 class="larger">litmus</h1>
                <h1 class="larger">made by developers for developers</h1>
            </div>
            <div class="col-5">
                <form>
                      </form>
            </div>

        </div>
    </div>
    <div class="row" id="sec1-gradient">
        <div class="col-1 leftside-col">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, ex dicta. Rerum, recusandae temporibus! Non
            cupiditate ratione nostrum quisquam voluptas beatae molestiae totam illo ea. Sapiente aliquid animi ipsa
            quam.

        </div>
        <div class="col-7 rightside-col">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UZkVqLjGM_I"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>

        </div>
    </div>
    <header>
        <h1 class="sec2header"> Destiny , place for awesomeness</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img height="300" width="300" src="1sphere.svg" alt="sphere">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>


            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img height="300" width="300" src="1sphere.svg" alt="sphere">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>
            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img height="300" width="300" src="1sphere.svg" alt="sphere">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>

            <div class="col-3">
                <div class="box">
                    <div class="icon">
                        <img height="300px" width="30%" src="1sphere.svg" alt="sphere">

                    </div>
                    <label> draw with us</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore iste, ex vero
                        molestias velit hic suscipit necessitatibus fugit. Et natus eligendi dolore ullam doloribus! In
                        delectus assumenda et dolorem!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="learnmore">learn more</button>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <article>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod excepturi nulla minus sunt qui
                        ratione temporibus, illo placeat deserunt dolorem quibusdam quae nostrum aperiam eius ab veniam
                        quas rerum repellendus.</p>
                </article>
            </div>
            <div class="col-4">
                <div class="slopeicon">
                    <img height="300px" width="500px" src="1sphere.svg">
                </div>
            </div>
        </div>
    </div>
    <h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates illum similique itaque laudantium tenetur
        modi assumenda ipsam nisi tempora odit error eligendi eum incidunt, magnam quidem saepe! Tenetur, porro magnam!
    </h3>





    <footer class="footsy">
        <div class="row">
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
            <div class="col-3">
                <h1>company</h1>
                <ul>
                    <li>about</li>
                    <li>blogs</li>
                    <li>carees</li>
                </ul>

            </div>
        </div>
    </footer>
    <script>
        function dropdownmenu() {
            var dropdown = document.getElementById('dropdownclick');
            if (dropdown.className === "topnav") {
                dropdown.className += "reponsive";/*changes topnav to topnav.responsive***/

            }
            else {
                dropdown.className = "topnav";
            }


        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>