{% extends "layout.html" %}
{% block content %}

<div class="container" id="sec1-gradient">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                {{ legend }}
            </legend>
            <!--email field-->
            <div class="form-group">
                {{ form.title.label }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class=" form-control form-control-lg") }}
                {% endif %}

            </div>
            <!--username field-->

            <!--password field-->
            <div class="form-group">
                {{ form.content.label }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}

            </div>
            <!--confirm password -->


        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}


         </div>
    </form>

</div>
{% endblock content %}